/* Style Background Site */
body{
    background-color: rgb(26, 26, 26);
}
.video-bg {
    position: absolute;
    width: 100vw;
    height: 100vh; /* Limite o vídeo até 60% da altura da tela */
    overflow: hidden;
    z-index: -1;
}

.video-bg video{
    width: 100%;
    height: auto;
    display: block;
}

.video-bg::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; /* altura do degradê */
  background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 10%,
        rgba(26, 26, 26, 0.2) 40%,
        rgba(26, 26, 26, 0.4) 60%,
        rgba(26, 26, 26, 0.6) 75%,
        rgba(26, 26, 26, 0.85) 90%,
        rgba(26, 26, 26, 1) 100%
    );
  pointer-events: none;
}

.video-bg::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100;
    height: 100%;
    background-color: rgba(36, 37, 42, 0.4);
}

@media (max-width: 768px) {
    .video-bg {
        width: 100vw;
        height: 100vh; /* ou ajuste como 50vh se quiser mais espaço */
    }

    .video-bg video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .video-bg::after {
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 5%,
            rgba(26, 26, 26, 0.3) 30%,
            rgba(26, 26, 26, 0.6) 60%,
            rgba(26, 26, 26, 0.85) 90%,
            rgba(26, 26, 26, 1) 100%
        );
    }
}

 /* Fim Style Background Site */

/* Logo G Milhas */
.logo img{
    width: 15%;
    height: auto;
    top: 2%;
    left: 2%;
}



@media screen and (max-width: 847px) {
    .logo img{
        width: 25%;
        height: auto;
        display: flex;
        justify-content: center;
    }
}



/* importaçao de fonte */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }  


/* Nav Responsive */
header {
    background-color: rgba(36, 37, 42, 0.7); /* Um tom mais escuro com transparência */
    box-shadow: 0px 3px 10px rgba(70, 70, 70, 0.5);
    border-bottom: 1px solid white;


    
}

.nav-bar {
    display: flex;
    justify-content:space-around;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #00507e;
    font-family: "Libre Baskerville", serif;
}

.login-button button:hover
{
    background-color: #00114b;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* Reposividade Navbar */
@media screen and (max-width: 847px) {
    .nav-bar {
        padding: 1.3rem 0rem;
        display: flex;
        justify-content: flex-end;
        padding-right: 10vw;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
  
}
/* Fim Navbar Responsive */

/* Quebra de Linha/fonte */

@media screen and (max-width: 816px) {
    .nav-link {
        
        font-size: 1rem;
        
       
    }
}
@media screen and (max-width: 752px) {
    .nav-link {
        
        font-size: 1rem;
        
       
    }
}

/* Fim quebra de linha/fonte */

dialog {
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
}

dialog::backdrop{
background-color: rgba(0, 0, 0, 0.8); /* Mais escuro - 70% */
}
dialog button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

/* Style Cards */
 .Cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.Cards > *:not(:last-child) {
    margin-right: 25px; /* Aplica o espaçamento apenas aos elementos, exceto o último */
 }
.card {
    background-color: #2C2F3D; 
    color: #fff; 
    width: 22rem; 
    height: auto;
    padding: 20px;
    border-radius: 12px; 
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.10);
}
.card-img-top{
    border-radius: 8%;

}

/* Slider area */

.hidden{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease-out;
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
    padding: 50px; 
}

/* Texto da esquerda */
.left-text {
    flex: 1;
    justify-content: right;
    text-align: right;
    padding: 20px;
    color: #fff;
    
}



.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    
}

.Cards input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 100%;
    border-radius: 2%;
}

.manual-navigation {
    position: absolute;
    bottom: 20px; 
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}



/* end SLider area */

@media screen and (max-width: 730px) {
    .Cards
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    } 
    .Cards > *:not(:last-child) {
        margin-right: 0px; 
    }
    .card:hover {
        transform:none
    }

    .content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: auto;
        text-align: center;
    }

    .left-text {
        order: -1;
        text-align: center;
        padding: 10px 0;
        font-size: clamp(1rem, 2.5vw, 2rem);
    }

    .slider {
        width: 100%;
        height: auto;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .manual-navigation, .navigation-auto
    {
        display: none;
    } 


    .logo
{
display: flex;
text-align: center;
justify-content: center;
}
 .card {
   
    width: 22rem;
    transition: transform 0.3s ease;
    z-index:1;
    border-radius: 9%;


} 
    
    
   
}
/* Fim Style Cards */

/* inicio estilização viagens ao brasil */
#title-viaje-brasil {
    color: rgb(255, 248, 248);
    font-family: "Libre Baskerville", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: 2% 8% 0 7%;
    font-weight: bold;
}

#p-viagem-brasil {
    color: rgb(255, 240, 240);
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0% 6% 0 7%;
    font-weight: bold;
}
.text-viagem-brasil{
   
    width: auto;
    display: flex;
    flex-direction: column;
}

/* logo estilização */
/* Estilo da seção Garantia */
.garantia {
    background-color: rgba(36, 37, 42, 0.6);
    padding: 60px 20px;
    text-align: center;
  }
  
  .garantia .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .garantia-titulo {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .garantia-texto {
    font-size: 18px;
    color: #c0c0c0;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .garantia strong {
    color: #0077cc;
  }
/* Fim Reponsivo componentes */
/* fim reposividade title */
/* fim estilização abaixo dos cartas */

/* fim estilização */