/* zerando tudo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


/* Style Background Site */
body{
    background-color: rgb(26, 26, 26);
    overflow-x: hidden;
}
.video-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    top: 0;
    left: 0;
}

.video-bg video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo cobrir toda a área do container */
    z-index: -1;
    transform: translateY(0); /* Para usar o movimento parallax */
    transition: transform 0.5s ease-out;
}

.video-bg::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; /* altura do degradê */
   background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 10%,
        rgba(26, 26, 26, 0.2) 40%,
        rgba(26, 26, 26, 0.4) 60%,
        rgba(26, 26, 26, 0.6) 75%,
        rgba(26, 26, 26, 0.85) 90%,
        rgba(26, 26, 26, 1) 100%
    ); 
  pointer-events: none;
}
/* 
.video-bg::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100;
    height: 100%;
    background-color: rgba(36, 37, 42, 0.4);
} */

@media (max-width: 768px) {
    .video-bg {
        width: 100vw;
        height: 100vh; /* ou ajuste como 50vh se quiser mais espaço */
    }

    .video-bg video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

     .video-bg::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 5%,
            rgba(26, 26, 26, 0.3) 30%,
            rgba(26, 26, 26, 0.6) 60%,
            rgba(26, 26, 26, 0.85) 90%,
            rgba(26, 26, 26, 1) 100%
        );
    }
}

 /* Fim Style Background Site */

/* Logo G Milhas */
.logo img {
    width: 15%;
    height: auto;
    margin-top: 100px; 
}



@media screen and (max-width: 847px) {
    .logo img{
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
    }
}



/* importaçao de fonte */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }  


/* Nav Responsive */
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(36, 37, 42, 0.7); /* Um tom mais escuro com transparência */
    box-shadow: 0px 3px 10px rgba(70, 70, 70, 0.5);
    /* border-bottom: 1px solid white; */
    width: 100%;
    z-index: 1000; /* Garante que fique acima dos outros elementos */
}

.nav-bar {
    display: flex;
    justify-content:space-evenly;
    padding: 1.5rem 6rem;
    margin-left: 20%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.nav-item {
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
}

/*   Inicio Social media icons */
/* Estilo para os ícones sociais */
.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
    background-color: #f2f2f2; 
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    color: #fff; /* Cor do ícone */
}

/* Hover dos ícones sociais */
.social-icon:hover {
    transform: scale(1.1); 
}

/* Cor e fundo para o Instagram */
.instagram-icon {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF); /* Degradê do Instagram */
}

.instagram-icon:hover {
    background: linear-gradient(45deg, #DD2A7B, #F58529, #8134AF); /* Inversão do degradê no hover */
}

/* Cor e fundo para o WhatsApp */
.whatsapp-icon {
    background-color: #25D366; 
}

.whatsapp-icon:hover {
    background-color: #128C7E;
}


.instagram-icon i, .whatsapp-icon i {
    font-size: 24px; /* Tamanho do ícone */
}
/* Fim Social Media Icons */



.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* Reposividade Navbar */
@media screen and (max-width: 847px) {
    .nav-bar {
        padding: 1.3rem 0rem;
        display: flex;
        justify-content: flex-end;
        padding-right: 10vw;
    }
    .nav-item {
        display: none;
    }
    .social-media-icons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .social-media-icons {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        gap: 50px; 
        width: 100%; 
        padding: 20px 0; 
        margin-left: 1vw;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
  
}
/* Fim Navbar Responsive */

/* Quebra de Linha/fonte */

@media screen and (max-width: 816px) {
    .nav-link {
        
        font-size: 1rem;
        
       
    }
}
@media screen and (max-width: 752px) {
    .nav-link {
        
        font-size: 1rem;
        
       
    }
}

/* Fim quebra de linha/fonte */
dialog {
    
    width: 100%;
    max-width: 950px;
    padding: 2rem;
    border: none;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
}

dialog::backdrop{
background-color: rgba(0, 0, 0, 0.8); /* Mais escuro - 70% */
}
dialog button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.popup-dialog {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
  
.popup-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
  
.popup-box {
    background-image: url('../images/Popup.png');
    background-size: 100% 100%; /* Deforma a imagem para caber no conteúdo */
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem 4rem; /* Aumente conforme o espaço interno da "nuvem" */
    color: white;
    width: auto;
    max-width: 150vw;
    box-sizing: border-box;
    text-align: center;
}
  
.popup-content p {
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
}
  

.popup-content button {
    margin-top: 1rem;
    padding: 0.5rem 1.2rem;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .popup-box{
        background-image: url('../images/Popup_Mobile.png');
        background-size: 100% 100%; /* Deforma a imagem para caber no conteúdo */
        background-repeat: no-repeat;
        background-position: center;
        padding: 6rem 4rem; /* Aumente conforme o espaço interno da "nuvem" */
        color: white;
        width: auto;
        max-width: 90vw;
        box-sizing: border-box;
        text-align: center;
    }
}

@media screen and (max-width: 810px){
    .popup-box{
        background-image: url('../images/Popup-736x575.png');
    }
}

@media screen and (max-width: 580px){
    .popup-box{
        background-image: url('../images/Popup-510x835.png');
    }
}
 
@media screen and (max-width: 480px){
    .popup-box{
        background-image: url('../images/Popup-439x835.png');
    }
}

/* Slider area */

.hidden-carousel {
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px); /* Leve animação de movimento */
}

.show-carousel {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Remove a transformação de movimento */
}


.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-slide img {
    width: 85vw; 
    object-fit: cover;
    display: block;
    margin: 0 auto; 
    border-radius: 10px; 
}

/* Botões dentro do banner */
.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(48, 48, 48, 0.9); 
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    font-size: 18px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgb(7, 127, 255);
    transform: translateY(-50%) scale(1.1);
}

/* Posicionamento alinhado com as bordas da imagem */
.swiper-button-prev {
    left: 7.5vw;
}

.swiper-button-next {
    right: 7.5vw;
}
/* legenda imagens */
.swiper-caption {
    margin-top: 20px;
    padding: 14px 28px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(43, 43, 43, 0.98); /* Azul escuro com transparência */
    color: #dbeafe; /* Azul claro suave (ex: tailwind slate-100/blue-100) */
    font-size: 1.3rem;
    font-weight: 500;
    border-left: 4px solid #dfdfdf; /* Azul mais vivo para destaque */
    border-radius: 6px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    transform: translateY(0);
}  

/* resposividae button */
@media (max-width: 772px) {
.swiper-button-next
{
    width: 40px;
    height: 40px;
}
}
/* Responsividade para telas menores */
@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        font-size: 16px; 
        width: 55px; 
        height: 55px;
    }

    /* Ajusta o tamanho da imagem no swiper */
    .swiper-slide img {
        width: 90%;
    }
}
@media (max-width: 900px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-caption
    {
        font-size: 1.1rem;
    }
  }
  
/*Fim Slider */

/* inicio estilização viagens ao brasil */
#title-viaje-brasil {
    color: rgb(255, 248, 248);
    font-family: "Libre Baskerville", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: 2% 8% 0 7%;
    font-weight: bold;
}

#p-viagem-brasil {
    color: rgb(255, 240, 240);
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0% 6% 0 7%;
    font-weight: bold;
}
.text-viagem-brasil{
   
    width: auto;
    display: flex;
    flex-direction: column;
}

/* logo estilização */
/* Estilo da seção Garantia */
.garantia-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Isso permite que eles quebrem em telas menores */
  }
  
  .garantia-item {
    flex: 1 1 30%;
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    color: #fff;
  }
  
  .garantia-imagem img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  
  .garantia-lista {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .garantia-lista li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  /* Responsivo: empilha os itens em telas pequenas */
  @media (max-width: 768px) {
    .garantia-wrapper {
      flex-direction: column;
    }
  
    .garantia-item {
      flex: 1 1 100%;
    }
  }
  /* inicio estilização rodapé */
  #footer-link {
  background-color: #1111117a; /* Fundo escuro semitransparente */
  color: white;
  padding: 40px 0;
  font-family: 'Arial', sans-serif;
}

#footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

#footer-contacts img {
  width: 150px;
  margin-bottom: 20px;
}
#footer_social_media
{
    display: flex;
    flex-direction: row;
}

#footer_social_media a {
  font-size: 3rem;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

/* WhatsApp: fundo verde, ícone branco */
.whatsapp-icon {
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-link i {
    font-size: 30px; /* Tamanho opcional */
    transition: color 0.3s;
}
/* color icon instagram */
#instagram i {
    color: #E1306C; /* Rosa/roxo Instagram */
}

/* color icon whatsapp */
#whatsapp i {
    color: #25D366; /* Verde WhatsApp */
}

/* Efeito ao passar o mouse (opcional) */
.footer-link:hover i {
    opacity: 0.8;
}

.footer-list {
  list-style: none;
  margin-top: 20px;
}

.footer-list h3 {
  margin-bottom: 10px;
  color: #0077cc;
}

.footer-link {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #00bfff; /* Azul claro ao passar o mouse */
}

#footer_copyright {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 0.9rem;
}
  /* fim estilização rodapé */
/* Fim Reponsivo componentes */
/* fim reposividade title */
/* fim estilização abaixo dos cartas */

/* Animação avião */

@keyframes flyIn {
    0% {
        transform: translateX(-100%) translateY(100%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes flyOut {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(100%) translateY(-100%);
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 340px;

    background-image: url('/mnt/data/Popup.png'); /* Caminho para sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    padding: 40px 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;

    color: #fff; /* Ajuste a cor do texto para boa visibilidade */
    font-weight: bold;
}

.airplane {
    position: fixed; /* <--- TROQUE de absolute para fixed */
    width: 100px;
    height: auto;
    display: none;
    transition: transform 1s ease-out;
    z-index: 2000;
    pointer-events: none;
    left: 0;
    bottom: 0;
}

.airplane.active {
    animation: flyIn 1s forwards;
}

.airplane.flyOut {
    animation: flyOut 1s forwards;
}

/* Whatsapp Button */

@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translate(-50%, 100px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 9999;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s;
    animation: fadeUp 0.5s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    height: auto;
}

/* Oculta a versão mobile por padrão */
.whatsapp-img-mobile {
    display: none;
}

.whatsapp-img-desktop{
    max-width: 360px;
}

/* Mostra a imagem menor e oculta a grande no mobile */
@media screen and (max-width: 720px) {
    .whatsapp-button {
        left: 70vw;
        right: auto;
        transform: translateX(-50%);
    }

    .whatsapp-button:hover {
        transform: translateX(-50%) scale(1.1);
    }

    .whatsapp-img-desktop {
        display: none;
    }

    .whatsapp-img-mobile {
        display: block;
        width: 70px;
    }
}

/* fim estilização */