/*Começo do cabeçalho/Barra de navegação*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
margin: 0;
padding: 0%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;
}

body {
    background-color: #121C46; 
}


header{
    background-color: #121C46;
    box-shadow: 0px, 3px, 10px #464646;
    border-bottom: 1px solid #ffffff
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;

}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 40px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.80rem;
    color: #fff4f4;
    font-weight: 400;
    transition: all 0.6s ease;
    
}

.nav-link:hover{
    color: rgb(230, 230, 0);
    text-decoration: none;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* Edição dos cards */
.card1{
    border: 3px solid #ffffff; 
}
.card2{
    border: 3px solid #fffafa; 
}
.card3{
    border: 3px solid #ffffff; 
}
.cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#card-2-img
{
    border-bottom: 1px solid white;
}
.button{
    transition: all 0.6s ease;
    width: 70%;
    font-size: 1.7rem;
}
.btn:hover
{
    background-color: #ffcc4cc2;
    color: black;
}

.card-img-top
{
    padding-top: 4px;
}

/* fim da edição dos cards */
.images-carousel{
    border-radius: 4%;
}

#listbox
{
   
    font-size: 2rem;
    border: 1px dashed white;
    padding-left: 1.4rem ;
    border-radius: 5vh;
    
}

#title-list
{
 padding-left: 3rem;
 padding-bottom: 1rem;
 font-size: 2rem;
 color: #ffffff
}

.list-itens
{
    padding-bottom: 1rem;
}
/* parte responsiva*/
@media screen and (max-width: 870px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .open {
        display: block;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
}

#listbox
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
}
}
/*fim da parte responsiva*/
/*Fim cabeçalho/Barra de navegação*/







